[submodule "themes/roxo"]
	path = themes/roxo
	url = git@github.com:StaticMania/roxo-hugo.git
[submodule "themes/timer-hugo"]
	path = themes/timer-hugo
	url = git@github.com:themefisher/timer-hugo.git
