.site-project-single img {
  width: 100%;
  margin: auto;
}
.site-project-item-thumb img {
  object-fit: cover;
  position: absolute;
}
.site-project-item-thumb {
  padding-bottom: 100%;
  position: relative;
}
.site-project-item-content {
  position: absolute;
}
.site-blog-post-content {
  position: relative;
}
.site-project-single-action img {
  width: auto;
  margin-left: 30px;
  margin-right: 0;
}