{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-blog-details">
          {{ if .IsTranslated }}
          {{ range .Translations }}
            &nbsp;<a class="language" href="{{ .Permalink }}"><i class="fa fa-globe"></i>&nbsp;{{ .Lang }}</a></p>
          {{ end }}
          {{ end }}
          <!--<img class="feature-image" src="{{ .Params.feature_image | absURL }}" alt="blog-feature-image">-->
          <div class="site-team-member">
            <div class="site-team-member-image">
              <img src="{{ .Params.image | absURL }}" alt="team-member" width="100">
            </div>
            <div class="site-team-member-content">
              <h3>{{ .Params.name }}</h3>
              <p>{{ .Params.designation }}</p>
              <ul class="site-team-member-social">
                <li><a href="{{ .Params.github | absURL }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a></li>
                <li><a href="{{ .Params.qiita | absURL }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-search"></i></a></li>
                <li><a href="{{ .Params.twitter | absURL }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}